<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.ydm.tipcalc"
        version   = "2.0.0">
    <name>TipCalc</name>

    <description>
        Tip calculator
    </description>

    <author href="http://enyojs.com/">
        enyojs
    </author>

    <preference name="phonegap-version" value="2.0.0" />

    <icon src="icon.png" />
</widget>
